@use '../../styles/variables.scss' as variables;

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: variables.$border-radius;
    padding: variables.$spacing-lg;
    width: 300px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: variables.$spacing-md;
    width: 100%;
  }

  .submit {
    margin-top: variables.$spacing-lg;
  }

  .divider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: variables.$spacing-sm;
    .line {
      border: 1px variables.$primary solid;
      height: 0;
      flex: 1;
    }
  }

  input {
    width: 100%;
  }
}
